* {
    box-sizing: border-box;
}
html {
    padding: 0px;
    margin: 0px;
    background-color: white;
}
body {
    padding: 0px;
    margin: 0px;
}

/* Betutipusok */
.pacifico {
    font-family: "Pacifico", cursive;
    font-weight: 4000;
    font-style: normal;
}

/* HEADER */
header {
    text-align: center;
    font-size: 25px;
    margin: 0;
    padding: 0;
    background-color: #ffe8bf;
    display: flex;
    justify-content: space-around;
    border-bottom: solid black 2px;
}



/* Menu */
nav {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 60px;
}
nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    padding: 10px 30px;
    text-align: center;
}
nav li a {
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 500;
    font-size: 30px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 10px;
    position: relative;
}

nav li a#active {
    font-weight: 700;
}


/* Underline animation */
nav li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 0px;
    left: 50%;
    background: black;
    transition: width 0.3s ease, left 0.3s ease;
    -webkit-transition: width 0.3s ease, left 0.3s ease;
}
nav li a:hover::after {
    width: 100%;
    left: 0;
}








/* Main */
div.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
article {
    background-color: #ffe8bf;
    width: 98%;
    margin: 1%;
    font-size: 25px;
    border: solid 2px black;
    border-radius: 20px;
    text-align: center;
    padding: 1%;
    font-family: "Delius Swash Caps", cursive;
    font-weight: 400;
}
article#vasarlas{
    width: 98%;
    background-color: #ffc86a;

}
article#nyitvatartas{
    width: 98%;
    background-color: #cfc6b0;

}
article#velemeny{
    width: 98%;
}
#lat{
    margin: 40px;
    font-size: 30px;
    text-align: center;
    font-family: "Delius Swash Caps", cursive;
    font-weight: 600;
}

.naptar-item {
    background-color: #dbffbf;
}

.cim {
    width: 100%;
    font-family: "Delius Swash Caps", cursive;
    font-weight: 700;
    text-align: center;
    font-size: 40px;
}

/* kicseszett nehez underline animation amit jobb ha összecsukva tartunk és elfelejtjuk h valaha létezett*/
.cta {
    border: none;
    background: none;
    cursor: pointer;
    font-weight: bold;
    font-family: "Delius Swash Caps", cursive;
    margin-bottom: 25px;
  }
  
  .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  /* kicseszett nehez underlinne animation vege hala istennek */

.kep {
    
    margin: 20px;
    width: 60%;
    height: auto;
    border: solid black 2px;
    border-radius: 30px;
}
.naptar-kep {
    width: 100%;
}
article img:hover{
    transform: scale(1.05);
    transition: transform 0.2s ease;
}



article a{
    color: rgb(0, 0, 141);
    text-decoration: none;
}
article a:hover{
    text-shadow: 0 0 3px #b81919;  
}

#kiemeles {
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
}

article.kapcsolat{
    background-color: white;
    border: none;
}


.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-form label {
    margin: 10px 0 5px;
}
.contact-form input, .contact-form textarea {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
.contact-form button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #0056b3;
}

.cssbuttons-io-button {
    background: #a370f0;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
    width: 15%;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }

.lista-jel {
    list-style-type: none;
}

/* Lablec */
footer{
    margin-top: 10px;
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 700;
    font-size: 20px;
    text-align:center;
    padding: 10px;
    background-color: rgba(180, 180, 180, 0.612);
    border-top: 1px black solid;

}

.social {
    width: 10%;
    margin: 10px;
}
footer a {
    text-decoration: none;
}

footer a :hover{
    transition: transform 0.2s ease;

    transform: scale(1.2);
}

/* Reszponzivitas */


@media all and (min-width: 900px) {
    nav ul {
        flex-direction: row;
        align-items: center;

    }
    div.main{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: stretch;
    }
    article{
        width: 60%;
    }
    article#vasarlas{
        width: 60%;
    }
    article#nyitvatartas{
        width: 30%;
    }
    article#velemeny{
        width: 30%;
    }
    article.naptar-item{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 30%;
        flex: 1;
    }
    
    
    

    .kep {
        width: 30%;

    }

   



    .social {
        width: 3%;
    }
    .naptar-kep {
        width: 60%;

    }
}
