* {
    box-sizing: border-box;
}
html {
    padding: 0px;
    margin: 0px;
    background-color: white;
}
body {
    padding: 0px;
    margin: 0px;
}

/* Betutipusok */
.pacifico {
    font-family: "Pacifico", cursive;
    font-weight: 4000;
    font-style: normal;
}

/* HEADER */
header {
    text-align: center;
    font-size: 25px;
    margin: 0;
    padding: 0;
    background-color: #ffe8bf;
    display: flex;
    justify-content: space-around;
    border-bottom: solid black 2px;
}



/* Menu */
nav {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 60px;
}
nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    padding: 10px 30px;
    text-align: center;
}
nav li a {
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 500;
    font-size: 30px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 10px;
    position: relative;
}

nav li a#active {
    font-weight: 700;
}


/* Underline animation */
nav li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 0px;
    left: 50%;
    background: black;
    transition: width 0.3s ease, left 0.3s ease;
    -webkit-transition: width 0.3s ease, left 0.3s ease;
}
nav li a:hover::after {
    width: 100%;
    left: 0;
}








/* Main */
div.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
article {
    background-color: #ffe8bf;
    width: 98%;
    margin: 1%;
    font-size: 25px;
    border: solid 2px black;
    border-radius: 20px;
    text-align: center;
    padding: 1%;
    font-family: "Delius Swash Caps", cursive;
    font-weight: 400;
}
article#vasarlas{
    width: 98%;
    background-color: #ffc86a;

}
article#nyitvatartas{
    width: 98%;
    background-color: #cfc6b0;

}
article#velemeny{
    width: 98%;
}
#lat{
    margin: 40px;
    font-size: 30px;
    text-align: center;
    font-family: "Delius Swash Caps", cursive;
    font-weight: 600;
}

.kep {
    
    margin: 20px;
    width: 60%;
    height: auto;
    border: solid black 2px;
    border-radius: 30px;
}



article a{
    color: rgb(0, 0, 141);
    text-decoration: none;
}
article a:hover{
    text-shadow: 0 0 3px #b81919;  
}

#kiemeles {
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
}

/* Lablec */
footer{
    margin-top: 10px;
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 700;
    font-size: 20px;
    text-align:center;
    padding: 10px;
    background-color: rgba(180, 180, 180, 0.612);
    border-top: 1px black solid;

}

.social {
    size: 5%;
    width: 2%;
    margin: 10px;
}
footer a {
    text-decoration: none;
}

footer a :hover{
    transition: transform 0.2s ease;

    transform: scale(1.2);
}

/* Reszponzivitas */


@media all and (min-width: 768px) {
    nav ul {
        flex-direction: row;
        align-items: center;

    }
    div.main{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    article{
        width: 60%;
    }
    article#vasarlas{
        width: 60%;
    }
    article#nyitvatartas{
        width: 30%;
    }
    article#velemeny{
        width: 30%;
    }
    .kep {
        width: 30%;
    }
}
